# Editors / IDEs
.vscode/*

# CMake out of tree build
build/

# Distribution outputs
dist/

# Test ouptuts
test/**/*.out
test/**/*.nim
test/**/*.raw
test/**/*.fem

# Matlab demo outputs
script/matlab/demos/*.dat
script/matlab/demos/*.mat

# Notebooks
.ipynb_checkpoints
*.ipynb

# Python build outputs
*.egg-info
*.whl
